@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  height: 100%;
}

.article {
  @apply py-8;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  @apply mb-4 mt-4;
  font-weight: bold;
}

.article p {
  @apply mb-4 leading-6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-bottom-1 {
  background-image: url("../../public/textile-rain-fleece-warm-white-removebg-preview.png");
  background-size: 30%;
  background-position: calc(100% + 3rem) calc(100% + 13rem);
  background-repeat: no-repeat;

  backdrop-filter: grayscale(1);
}